.education {
    padding: 5px;
    text-align: center;
    color: black;
    padding-bottom: 25px;
}

.education-card {
    background-color: #f4effa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 50%;
    height: 350px;
    margin: auto;
  }
  
  .education-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

.image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.nyu-logo {
    width: 300px;
    height: 300px;
  }

.education-info {
    padding: 20px;
    text-align: left;
    flex: 2;
    color: black;
  }